
<launch>
<node name="camera_eye" pkg="usb_cam" type="usb_cam_node">
<param name="video_device" value="/dev/videoHUB-2"/>
<param name="image_width" value="640"/>
<param name="image_height" value="480"/>
<param name="saturation" value="0"/>
<param name="pixel_format" value="yuyv"/>
<param name="camera_frame_id" value="camera_eye"/>
<param name="camera_info_url" value="file:///$(find explorer_launch)/launch/camera/yaml/USB100W07M.yaml"/>
<param name="io_method" value="mmap"/>
<param name="framerate" value="20"/>
<param name="autofocus" value="true"/>
</node>
</launch>

